.list-group--item__background .active {
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: black;
}

.list-group__scrollable {
  overflow-y: scroll;
  max-height: 300px;
}
.btn__fullwidth {
  width: 100%;
}
