@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
}

button:focus {
    box-shadow: none!important;
}

.list-group--item__background .active {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: black;
}

.list-group__scrollable {
    overflow-y: scroll;
    max-height: 300px;
}
.btn__fullwidth {
    width: 100%;
}
.list-group--item__pointer {
    cursor: pointer;
}
.list-group--item__scale_font:hover{
    transition: .2s ease-in-out;
    background-color: rgba(0,0,0,0.01);
}
.ingredients--input__enchantment {
    max-width: 80px;
    border: none!important;
    border-bottom: 1px solid black!important;
    border-radius: 0!important;
    text-align: center;
}
.ingredients--input__enchantment:hover, .ingredients--input__enchantment:focus {
    box-shadow: none!important;
    border: none;
}

